In [1]:
import pandas as pd
per_aux=pd.read_csv('PER_AUX.csv')
per_aux.head()

,A_AGE1,A_AGE2,A_AGE3,A_AGE4,A_AGE5,A_AGE6,A_AGE7,A_AGE8,A_AGE9,ST_CASE,...,YEAR,A_PTYPE,A_REST,A_ALCTES,A_HISP,A_RCAT,A_HRACE,A_EJECT,A_PERINJ,A_LOC
0,4,5,11,7,8,8,10,6,2,10001,...,2015,1,2,2,1,1,2,1,1,1
1,3,5,9,6,6,6,8,4,2,10002,...,2015,1,2,1,1,1,2,2,1,1
2,3,4,7,4,4,4,6,3,2,10003,...,2015,1,2,2,1,2,3,1,1,1
3,2,2,5,2,2,2,4,2,2,10003,...,2015,2,2,3,0,0,0,1,6,1
4,3,5,8,5,5,5,7,4,2,10004,...,2015,1,2,2,1,1,2,1,1,1

In [15]:
per_aux_sum=pd.DataFrame(per_aux.groupby(['ST_CASE','A_PTYPE']).size())

In [16]:
per_aux_sum.head()

                 0
ST_CASE A_PTYPE
10001   1        1
10002   1        1
10003   1        1
        2        1
10004   1        1

In [17]:
per_aux_sum.head()

                 0
ST_CASE A_PTYPE
10001   1        1
10002   1        1
10003   1        1
        2        1
10004   1        1

In [20]:
per_aux_sum.columns.values

array([0], dtype=int64)

In [26]:
(per_aux['A_PTYPE']==1).head()

0     True
1     True
2     True
3    False
4     True
Name: A_PTYPE, dtype: bool

In [32]:
per_aux[per_aux['A_PTYPE']==1].groupby(['ST_CASE','A_PTYPE']).size()

ST_CASE  A_PTYPE
10001    1          1
10002    1          1
10003    1          1
10004    1          1
10005    1          2
10006    1          1
10007    1          1
10008    1          1
10009    1          1
10010    1          2
10011    1          2
10012    1          3
10013    1          1
10014    1          1
10015    1          1
10016    1          2
10017    1          1
10018    1          1
10019    1          1
10020    1          2
10021    1          2
10022    1          1
10023    1          1
10024    1          1
10025    1          1
10026    1          1
10027    1          2
10028    1          1
10029    1          1
10030    1          2
                   ..
560101   1          2
560102   1          1
560103   1          1
560104   1          1
560105   1          1
560106   1          1
560107   1          1
560108   1          1
560109   1          2
560110   1          1
560111   1          1
560112   1          1
560113   1          1
560114   1          1
560115   1          1
560116   1          1
560117   1          1
560118   1          1
560119   1          2
560120   1          1
560121   1          2
560122   1          2
560123   1          1
560124   1          1
560125   1          2
560126   1          2
560127   1          1
560128   1          2
560129   1          2
560130   1          1
dtype: int64